<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SaludMapa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdministracionBBDD</display-name>
    <servlet-name>AdministracionBBDD</servlet-name>
    <servlet-class>unedMasterControlador.AdministracionBBDD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministracionBBDD</servlet-name>
    <url-pattern>/AdministracionBBDD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministracionData</display-name>
    <servlet-name>AdministracionData</servlet-name>
    <servlet-class>unedMasterControlador.AdministracionData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministracionData</servlet-name>
    <url-pattern>/AdministracionData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministracionHealthIndicadores</display-name>
    <servlet-name>AdministracionHealthIndicadores</servlet-name>
    <servlet-class>unedMasterControlador.AdministracionHealthIndicadores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministracionHealthIndicadores</servlet-name>
    <url-pattern>/AdministracionHealthIndicadores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageServelet</display-name>
    <servlet-name>PageServelet</servlet-name>
    <servlet-class>unedMasterControlador.PageServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServelet</servlet-name>
    <url-pattern>/PageServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagesServlet</display-name>
    <servlet-name>PagesServlet</servlet-name>
    <servlet-class>unedMasterControlador.PagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagesServlet</servlet-name>
    <url-pattern>/PagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagServelet</display-name>
    <servlet-name>PagServelet</servlet-name>
    <servlet-class>unedMasterControlador.PagServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagServelet</servlet-name>
    <url-pattern>/PagServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InicioSesion</display-name>
    <servlet-name>InicioSesion</servlet-name>
    <servlet-class>unedMasterControlador.InicioSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioSesion</servlet-name>
    <url-pattern>/InicioSesion</url-pattern>
  </servlet-mapping>
</web-app>